<?php

/* @var $block Wimakeit\OgTagManager\Block\Product\View */

$product = $block->getProduct();
$currency_code = $this->getCurrencyCode();

$priceAmount = null;
$finalPrice = $product->getPriceInfo()->getPrice(\Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE);
if ($finalPrice) {
    $priceAmount = $finalPrice->getAmount()->getValue();
}

$productUrl = $product->getProductUrl();
$productImageUrl = $block->getImage($product, 'product_base_image')->getImageUrl();

$productName = $block->escapeHtml($product->getName());
$productSku = $block->escapeHtml($product->getSku());
$productImageUrl = $block->escapeUrl($productImageUrl);
$productUrl = $block->escapeUrl($productUrl);
$description = $block->stripTags($product->getDescription() ?? $product->getMetaDescription());

?>
<meta property="og:type" content="product"/>
<meta property="og:title" content="<?= $productName ?>"/>
<meta property="og:id" content="<?= $productSku ?>"/>
<meta property="og:image" content="<?= $productImageUrl ?>"/>
<meta property="og:description" content="<?= $description ?>"/>
<meta property="og:availability" content="in stock"/>
<meta property="og:url" content="<?= $productUrl ?>"/>
<?php if ($priceAmount !== null) : ?>
    <meta property="product:price:amount" content="<?= $block->escapeHtmlAttr($priceAmount) ?>"/>
<?php endif; ?>
<meta property="product:price:currency" content="<?= $currency_code ?>"/>
<meta property="condition" content="new">
